<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKD6MY8tJDUlEs0RcTW2I4v_NA1S1M7cY</string>
	<key>GCM_SENDER_ID</key>
	<string>182891395897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.speechverseV2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>speechverse-0</string>
	<key>STORAGE_BUCKET</key>
	<string>speechverse-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182891395897:ios:7b6f80825f18988986c6e8</string>
</dict>
</plist>